* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    padding-top: 60px;
}

header {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1rem;
}

main {
    padding: 20px;
}

h1, h2 {
    font-size: 1.8rem;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"], input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

#lista-cronograma {
    margin-top: 20px;
}

.cronograma-item {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

nav.menu {
    background-color: #ffffff; /* Cor de fundo do menu */
    padding: 5px 0; /* Espaçamento interno do menu */
    position: fixed; /* Fixa o menu no topo */
    width: 100%; /* O menu ocupa toda a largura */
    top: 0;
    left: 0;
    z-index: 1000; /* Garante que o menu fique acima de outros conteúdos */
  }
  
  nav.menu ul {
    list-style-type: none; /* Remove os marcadores da lista */
    display: flex; /* Torna os itens em linha */
    justify-content: center; /* Centraliza os itens */
  }
  
  nav.menu li {
    margin: 0 15px; /* Espaçamento entre os itens do menu */
  }
  
  nav.menu a {
    text-decoration: none; /* Remove o sublinhado do link */
    color: rgb(0, 0, 0); /* Cor do texto */
    font-size: 18px;
    padding: 10px 15px; /* Espaçamento interno dos links */
    display: block; /* Faz o link ocupar o bloco inteiro */
  }
  
  nav.menu a:hover {
    background-color: #555; /* Cor de fundo ao passar o mouse */
    border-radius: 5px; /* Bordas arredondadas */
  }
  